### 행정구역 정보를 읽고 분석하기
* read_csv() 함수로 csv file 읽어오기
* 특정행과 열을 선택하기
* 컬럼명 변경
* 상관관계 분석(인구수와 면적간의 상관관계)
* 시각화

In [41]:
import pandas as pd

data = pd.read_csv('data/data_draw_korea.csv')
print(type(data))
data.head()

<class 'pandas.core.frame.DataFrame'>

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시
3           3   63986        삼척  11  8  1185.80  강원도  삼척시
4           4   76733        속초   9  1   105.25  강원도  속초시

In [3]:
data.sample(3)

     Unnamed: 0    인구수 shortName   x   y      면적  광역시도 행정구역
18           18  53497        가평   9   3  843.04   경기도  가평군
79           79  16009        영양  11  10  815.11  경상북도  영양군
217         217  87904        홍성   2  10  443.90  충청남도  홍성군

In [4]:
print(data.shape)
print(data.columns)
print(data.index)

(229, 8)
Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
RangeIndex(start=0, stop=229, step=1)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [6]:
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [7]:
print('인구수최대',data['인구수'].max())
print('인구수최소',data['인구수'].min())
print('인구수평균',data['인구수'].mean())
print('인구수표준편차',data['인구수'].std())

인구수최대 1125461
인구수최소 8392
인구수평균 211089.77729257641
인구수표준편차 207437.8370475227

In [8]:
#unique한 광역시도명

data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [9]:
#광역시도 값 row counting
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
광주광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

In [10]:
##서울특별시
data.loc[data['광역시도'] == '서울특별시']

     Unnamed: 0     인구수 shortName  x  y     면적   광역시도  행정구역
124         124  526157      서울강남  6  7  39.50  서울특별시   강남구
125         125  432028      서울강동  8  5  24.60  서울특별시   강동구
126         126  310292      서울강북  5  2  23.60  서울특별시   강북구
127         127  554709      서울강서  4  4  41.40  서울특별시   강서구
128         128  484478      서울관악  5  6  29.60  서울특별시   관악구
129         129  342909      서울광진  7  6  17.05  서울특별시   광진구
130         130  401233      서울구로  4  7  20.11  서울특별시   구로구
131         131  222566      서울금천  5  7  13.01  서울특별시   금천구
132         132  547202      서울노원  6  1  35.44  서울특별시   노원구
133         133  331682      서울도봉  5  1  20.80  서울특별시   도봉구
134         134  342429     서울동대문  7  4  14.20  서울특별시  동대문구
135         135  383917      서울동작  5  5  16.36  서울특별시   동작구
136         136  364232      서울마포  5  4  23.87  서울특별시   마포구
137         137  288543     서울서대문  5  3  17.60  서울특별시  서대문구
138         138  407416      서울서초  6  6  47.04  서울특별시   서초구
139         139  279939      서울성동  7  5  16.85  서울특별시   성동구
140         140  434061      서울성북  6  2  24.57  서울특별시   성북구
141         141  615487      서울송파  8  6  33.90  서울특별시   송파구
142         142  453634      서울양천  4  5  17.40  서울특별시   양천구
143         143  351837     서울영등포  4  6  24.56  서울특별시  영등포구
144         144  208603      서울용산  6  5  21.87  서울특별시   용산구
145         145  464236      서울은평  4  3  29.70  서울특별시   은평구
146         146  140595      서울종로  6  3  23.90  서울특별시   종로구
147         147  114967      서울중구  6  4   9.96  서울특별시    중구
148         148  391655      서울중랑  8  4  18.50  서울특별시   중랑구

In [11]:
seoul_data = data.loc[data['광역시도'] == '서울특별시']
print(seoul_data.sort_values(by='인구수',ascending=False).reset_index(drop=True))

print('서울특별시의 인구평균 = ',seoul_data['인구수'].mean())
print('서울특별시의 표준편차 = ',seoul_data['인구수'].std())

    Unnamed: 0     인구수 shortName  x  y     면적   광역시도  행정구역
0          141  615487      서울송파  8  6  33.90  서울특별시   송파구
1          127  554709      서울강서  4  4  41.40  서울특별시   강서구
2          132  547202      서울노원  6  1  35.44  서울특별시   노원구
3          124  526157      서울강남  6  7  39.50  서울특별시   강남구
4          128  484478      서울관악  5  6  29.60  서울특별시   관악구
5          145  464236      서울은평  4  3  29.70  서울특별시   은평구
6          142  453634      서울양천  4  5  17.40  서울특별시   양천구
7          140  434061      서울성북  6  2  24.57  서울특별시   성북구
8          125  432028      서울강동  8  5  24.60  서울특별시   강동구
9          138  407416      서울서초  6  6  47.04  서울특별시   서초구
10         130  401233      서울구로  4  7  20.11  서울특별시   구로구
11         148  391655      서울중랑  8  4  18.50  서울특별시   중랑구
12         135  383917      서울동작  5  5  16.36  서울특별시   동작구
13         136  364232      서울마포  5  4  23.87  서울특별시   마포구
14         143  351837     서울영등포  4  6  24.56  서울특별시  영등포구
15         129  342909      서울광진  7  6  17.05  서울특별시   광진구
16         134  342429     서울동대문  7  4  14.20  서울특별시  동대문구
17         133  331682      서울도봉  5  1  20.80  서울특별시   도봉구
18         126  310292      서울강북  5  2  23.60  서울특별시   강북구
19         137  288543     서울서대문  5  3  17.60  서울특별시  서대문구
20         139  279939      서울성동  7  5  16.85  서울특별시   성동구
21         131  222566      서울금천  5  7  13.01  서울특별시   금천구
22         144  208603      서울용산  6  5  21.87  서울특별시   용산구
23         146  140595      서울종로  6  3  23.90  서울특별시   종로구
24         147  114967      서울중구  6  4   9.96  서울특별시    중구
서울특별시의 인구평균 =  375792.28
서울특별시의 표준편차 =  125231.24797500289

In [12]:
kk_data = data.loc[data['광역시도'] == '경기도',['인구수']]
print(f'경기도의 평균 인구수 = {kk_data.mean()} 명')
print(f'경기도의 인구 표준편차 = {kk_data.std()}')

경기도의 평균 인구수 = 인구수    378845.483871
dtype: float64 명
경기도의 인구 표준편차 = 인구수    304548.395142
dtype: float64

In [20]:
data.loc[data['광역시도'] == '경상북도',['인구수','면적','행정구역']].sort_values(by='인구수',ascending=False).reset_index(drop=True)

       인구수       면적 행정구역
0   488395  1127.00  포항시
1   396685   616.10  구미시
2   251220   411.58  경산시
3   242618  1323.85  경주시
4   157317  1519.00  안동시
5   127941  1009.56  김천시
6   112446   451.00  칠곡군
7   101612   668.45  영주시
8    93305  1254.82  상주시
9    91214   919.76  영천시
10   67919   912.00  문경시
11   48776  1175.89  의성군
12   46748   989.06  울진군
13   40779   660.70  예천군
14   38571   696.52  청도군
15   38277   616.28  성주군
16   34864   741.05  영덕군
17   31189   383.70  고령군
18   30287  1201.00  봉화군
19   23804   842.45  청송군
20   20596   614.15  군위군
21   16009   815.11  영양군
22    8392    72.82  울릉군

In [30]:
print(data['인구수'].mean())

data.loc[data['인구수'].mean()> data['인구수']].head()

211089.77729257641

   seq     인구수 shortName   x  y       면적 광역시도 행정구역
0    0  202520        강릉  11  4  1040.07  강원도  강릉시
1    1   25589    고성(강원)   9  0   664.19  강원도  고성군
2    2   86747        동해  11  5   180.01  강원도  동해시
3    3   63986        삼척  11  8  1185.80  강원도  삼척시
4    4   76733        속초   9  1   105.25  강원도  속초시

In [24]:
#iloc 사용하기
data.loc[20:25,'인구수':'광역시도']
data.iloc[20:26,1:5]

       인구수 shortName  x  y
20   63227        과천  7  7
21  327111        광명  3  3
22  290210        광주  8  7
23  175676        구리  9  4
24  273302        군포  5  8
25  326523        김포  2  3

In [40]:
#칼럼명 변경
data = data.rename(columns={'Unnamed: 0':'seq'})
data

   seq     인구수 shortName   x  y       면적 광역시도 행정구역
0    0  202520        강릉  11  4  1040.07  강원도  강릉시
1    1   25589    고성(강원)   9  0   664.19  강원도  고성군
2    2   86747        동해  11  5   180.01  강원도  동해시
3    3   63986        삼척  11  8  1185.80  강원도  삼척시
4    4   76733        속초   9  1   105.25  강원도  속초시

In [33]:
#seq 컬럼을 index로 변경하기
data.set_index('seq')

        인구수 shortName   x  y       면적 광역시도 행정구역
seq
0    202520        강릉  11  4  1040.07  강원도  강릉시
1     25589    고성(강원)   9  0   664.19  강원도  고성군
2     86747        동해  11  5   180.01  강원도  동해시
3     63986        삼척  11  8  1185.80  강원도  삼척시
4     76733        속초   9  1   105.25  강원도  속초시

# 광역시도별로 인구수가 가장 많은 행정구역은?
- unique(),value_counts(),max() 함수사용
- 사용자 정의 함수 선언하기

In [49]:
#경기도에서 인구수가 가장 많은 행정구역은?
pop_max_value = data.loc[data['광역시도'] == '경기도','인구수'].max()

In [50]:
#광역시도가 경기도인 조건1, 인구수가 pop_max_value와 같은 조건2

data.loc[(data['광역시도'] == '경기도')&(data['인구수'] == pop_max_value)]

    Unnamed: 0      인구수 shortName  x  y      면적 광역시도 행정구역
30          30  1125461        수원  6  9  121.09  경기도  수원시

In [55]:
#sido_name (광역시도)을 argument로 받아서, 특정 광역시도중에서 가장 인구가 많은 행정구역을 반환하는 함수 정의하기
def get_pop_max_city(sido_name):
    pop_max_value = data.loc[data['광역시도'] == sido_name,'인구수'].max()
    return data.loc[(data['광역시도'] == sido_name)&(data['인구수'] == pop_max_value),['광역시도','행정구역','인구수']]

In [56]:
get_pop_max_city('서울특별시')

      광역시도 행정구역     인구수
141  서울특별시  송파구  615487

In [61]:
pop_max_city_df = pd.DataFrame(columns=['광역시도','행정구역','인구수'])
for sido_name in data['광역시도'].unique():
    pop_max_city_df = pop_max_city_df.append(get_pop_max_city(sido_name)).reset_index(drop=True)

pop_max_city_df

       광역시도  행정구역      인구수
0       강원도   원주시   313851
1       경기도   수원시  1125461
2      경상남도   창원시  1010040
3      경상북도   포항시   488395
4     광주광역시    북구   439683
5     대구광역시   달서구   584517
6     대전광역시    서구   475094
7     부산광역시  해운대구   397134
8     서울특별시   송파구   615487
9   세종특별자치시   세종시   191233
10    울산광역시    남구   327270
11    인천광역시   부평구   527153
12     전라남도   여수시   263166
13     전라북도   전주시   630708
14  제주특별자치도   제주시   430504
15     충청남도   천안시   584912
16     충청북도   청주시   790216

# 광역시도별로 인구수가 가장 많고, 면적이 가장 넓은 행정구역은?
- 1단계 : 광역시도별 면적이 가장 넓은 행정구역은?
- 2단계 : 광역시도별 인구수가 가장 많고, 면적이 가장 넓은 행정구역은?
- unique(),value(),counts(),max() 함수사용

# misson2 광역시도별로 인구수와 면적간의 상관계수 구하기
- 광역시도 | 상관계쑤

In [63]:
## 데이터 프레임의 인덱스를 1부터 시작하는 방법
print(len(pop_max_city_df))
pop_max_city_df.index

17

RangeIndex(start=0, stop=17, step=1)

In [65]:
import numpy as np
np.arange(1,len(pop_max_city_df)+1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17])

In [66]:
pop_max_city_df.index = np.arange(1,len(pop_max_city_df)+1)

pop_max_city_df

       광역시도  행정구역      인구수
1       강원도   원주시   313851
2       경기도   수원시  1125461
3      경상남도   창원시  1010040
4      경상북도   포항시   488395
5     광주광역시    북구   439683
6     대구광역시   달서구   584517
7     대전광역시    서구   475094
8     부산광역시  해운대구   397134
9     서울특별시   송파구   615487
10  세종특별자치시   세종시   191233
11    울산광역시    남구   327270
12    인천광역시   부평구   527153
13     전라남도   여수시   263166
14     전라북도   전주시   630708
15  제주특별자치도   제주시   430504
16     충청남도   천안시   584912
17     충청북도   청주시   790216

# 상관계수(correlation)
- 인구수와 면적간에 관련성이 있는지 살펴보기위해

In [ ]:
# 전체행정구역의 면적과 인구수의 상관계수 구하기
data['면적'].corr(data['인구수'])

In [70]:
# 전체행정구역의 면적과 인구수의 상관계수 구하기
seoul_df = data.loc[data['광역시도'] == '서울특별시']
seoul_df['면적'].corr(seoul_df['인구수'])

0.664426818890978

## Group By 기능
- 광역시도별 인구수의 합
- ~별에 해당하는 칼럼명이나 컬럼값을 groupby() 함수의 인자로 전달한다.
- Series 객체 groupby() 함수는 컬럼의 값을 인자로 전달한다.
- DataFrame 객체의 groupby() 함수는 칼럼명을 인자로 전달한다

In [71]:
print(type(data['광역시도']))

<class 'pandas.core.series.Series'>

In [77]:
print(type(data.loc[0:1]))

<class 'pandas.core.frame.DataFrame'>

In [88]:
# series 객체 사용 - 광역시도별 인구수의 합계
# Series 객체 groupby() 함수는 컬럼의 값을 인자로 전달한다.
data['인구수'].groupby(data['광역시도']).sum().sort_values(ascending=False)

광역시도
경기도        11744210
서울특별시       9394807
부산광역시       3323591
경상남도        3144487
인천광역시       2766575
경상북도        2508964
대구광역시       2378450
충청남도        1946129
전라북도        1739048
전라남도        1700563
충청북도        1484720
대전광역시       1467677
광주광역시       1438209
강원도         1429438
울산광역시       1105585
제주특별자치도      575873
세종특별자치시      191233
Name: 인구수, dtype: int64

In [90]:
# DataFrame 객체 사용 - 광역시도별 인구수의 합계
# DataFrame 객체의 groupby() 함수는 칼럼명을 인자로 전달한다
data.groupby('광역시도').sum()

         Unnamed: 0       인구수    x    y         면적
광역시도
강원도             153   1429438  173   68  16874.810
경기도            1023  11744210  182  162  10179.743
경상남도           1035   3144487  123  313  10437.460
경상북도           1794   2508964  229  240  19021.850
광주광역시           460   1438209   12   99    501.280
대구광역시           788   2378450   74  111    885.690
대전광역시           525   1467677   23   66    539.640
부산광역시          1848   3323591  162  276    763.240
서울특별시          3400   9394807  142  111    605.390
세종특별자치시         149    191233    4   11    465.230
울산광역시           760   1105585   58   71    980.220
인천광역시          1595   2766575   13   61   1022.910
전라남도           3861   1700563   44  438  12008.390
전라북도           2709   1739048   46  219   7907.220
제주특별자치도         403    575873    8   49   1848.480
충청남도           3150   1946129   39  160   8272.270
충청북도           2453   1484720   69  124   7397.310

In [91]:
data.groupby('광역시도')['인구수'].sum()

광역시도
강원도         1429438
경기도        11744210
경상남도        3144487
경상북도        2508964
광주광역시       1438209
대구광역시       2378450
대전광역시       1467677
부산광역시       3323591
서울특별시       9394807
세종특별자치시      191233
울산광역시       1105585
인천광역시       2766575
전라남도        1700563
전라북도        1739048
제주특별자치도      575873
충청남도        1946129
충청북도        1484720
Name: 인구수, dtype: int64

In [98]:
#광역시도별, 행정구역별 인구수의 합계
import openpyxl
groupby_df = data.groupby(['광역시도','행정구역'])['인구수'].sum()
groupby_df.to_excel('data/광역시도별행정구역별인구수의합계.xlsx')

## 엑셀 수치 데이터에 콤파(,) 찍기

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('data/광역시도별인구수의합계1.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
groupby_df.to_excel(writer, sheet_name='인구수합계')

# Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['인구수합계']

# Set a currency number format for a column.
num_format = workbook.add_format({'num_format': '#,###'})
worksheet.set_column('C:C', None, num_format)

# Close the Pandas Excel writer and output the Excel file.
writer.save()